extends exercise

block description
    p=description

    pre
        span !{schemaFormatted.replace(/&/g, '&amp;').replace(/ /g, '&nbsp;').replace(/\n/g, '<br/>')}

block link
    -var active = 'Aufgabe 1';