extends exercise

block description
    p=description

    .row
        each item in schemaFormatted
            .col-md-6
                pre
                    span !{item.replace(/&/g, '&amp;').replace(/ /g, '&nbsp;').replace(/\n/g, '<br/>')}

block link
    -var active = 'Aufgabe 2';