extends layout

block extraHeader
    link(rel='stylesheet', href='/assets/jsoneditor/jsoneditor.css')
    script(src='/assets/jsoneditor/jsoneditor.js')

block content
    .container
        .page-header
            h1=title

        block description

        #jseditor

    script.
      var schema = !{JSON.stringify(schema)};
      var json = {};
      var container = document.getElementById('jseditor');
      var options = {
        schema: schema,
        onChange:onChangeJson,
        mode: 'code',
        modes: ['code', 'tree', 'view']};
      var editor = new JSONEditor(container, options, json);

      $('.jsoneditor-menu').append(makeHelpButton().on('click',onClickHelp));

      function onClickHelp(){
        if ($('.jsoneditor-text-errors').css('display') == 'none')
          $('.jsoneditor-text-errors').css('display', 'block');
        else
          $('.jsoneditor-text-errors').css('display', 'none');
      };

      function onChangeJson() {
        try {
          console.log(this);
          var parsedJson = JSON.parse(editor.getText());
          if (!editor.validateSchema(parsedJson)) {
            $('.ace_content').css('background-color', '#ff000038');
          } else {
            $('.ace_content').css('background-color', '#0f522738');
          }
        } catch (e) {
          $('.ace_content').css('background-color', '#ff000038');
        }
      };

      function makeHelpButton(){
        return $('<button type="button" class="jsoneditor-help" title="Test">Hilfe einblenden</button>');
      }
