extends layout

block extraHeader
    link(rel='stylesheet', href='/assets/jsoneditor/jsoneditor.css')
    script(src='/assets/jsoneditor/jsoneditor.js')

block content
    .container
        .page-header
            h1=title

        p=description

        #jseditor

        .panel-group
            div(class="panel panel-default")
                .panel-heading
                    p(class="panel-title" data-toggle="collapse" data-target="#help-text")
                        <span class="glyphicon glyphicon-chevron-down"></span> Hilfe
                #help-text(class="panel-collapse collapse")
                    p=help

    script.
        var schema = #{schema}
        var json = {};
        var container = document.getElementById('jseditor');
        var options = {
            schema: schema,
            mode: 'code',
            modes: ['code', 'tree', 'view'],
            onError: function (err) {
                alert(err.toString());
            }
        };
        var editor = new JSONEditor(container, options, json);


