extends layout

block extraHeader
    link(rel='stylesheet', href='/assets/jsoneditor/jsoneditor.css')
    script(src='/assets/jsoneditor/jsoneditor.js')

block content
    .container
        .page-header
            h1=title

        block description

        #jseditor

    script.
      var data = !{JSON.stringify(schema)};
        var schema = data;
        var json = {};
        var container = document.getElementById('jseditor');
        var onChange = function () {
          try {
            var parsedJson = JSON.parse(editor.getText());
            if(!editor.validateSchema(parsedJson)){
              $('.ace_content').css('background-color', '#ff000038');
            } else {
              $('.ace_content').css('background-color', '#0f522738');
            }
          } catch (e) {
            $('.ace_content').css('background-color', '#ff000038');
          }
        };
        var options = {
            schema: schema,
            onChange:onChange,
            mode: 'code',
            modes: ['code', 'tree', 'view'],
            onError: function (err) {
                alert(err.toString());
            }
        };
        var editor = new JSONEditor(container, options, json);
        var hilfe = $('<button type="button" class="jsoneditor-help" title="Test">Hilfe ein/ausblenden</button>');
        $(hilfe).on('click',function(){
          console.log($('.jsoneditor-text-errors').css('display'));
          if($('.jsoneditor-text-errors').css('display') == 'none')
            $('.jsoneditor-text-errors').css('display','block');
          else
            $('.jsoneditor-text-errors').css('display','none');
        });
        $('.jsoneditor-menu').append(hilfe)





