extends layout

block extraHeader
    link(rel='stylesheet', href='/assets/jsoneditor/jsoneditor.css')
    script(src='/assets/jsoneditor/jsoneditor.js')

block content
    .container
        .page-header
            h1=title

        block description

        #jseditor

    script.
      var editor = null;
      var schema = !{JSON.stringify(schema)};
      var container = document.getElementById('jseditor');

      var options = {
        schema: schema,
        onChange: validateJson,
        onModeChange: validateJson,
        mode: 'code',
        modes: ['code', 'tree', 'view']
      };

      start();

      function start() {
        editor = new JSONEditor(container, options);
        editor.setText($readSavedJsonForExercise());

        try {
          editor.format();
        } catch (e) {
        }

        $('.jsoneditor-menu').append($makeHelpButton().on('click', $onClickHelp));
        $(window).bind('beforeunload', $saveJsonForExercise);
        editor.aceEditor.setOptions({maxLines: Infinity});
        validateJson();
      }

      function $onClickHelp() {
        if ($('.jsoneditor-text-errors').css('display') == 'none')
          $('.jsoneditor-text-errors').css('display', 'block');
        else
          $('.jsoneditor-text-errors').css('display', 'none');
      };

      function validateJson() {
        try {
          var parsedJson = JSON.parse(editor.getText());
          if (!editor.validateSchema(parsedJson)) {
            $('.ace_scroller').css('background-color', '#ff000038');
          } else {
            $('.ace_scroller').css('background-color', '#0f522738');
          }
        } catch (e) {
          $('.ace_scroller').css('background-color', '#ff000038');
        }
      };

      function $makeHelpButton() {
        return $('<button type="button" class="jsoneditor-help" title="Test">Hilfe einblenden</button>');
      }

      function $saveJsonForExercise() {
        $.cookie("#{title}", JSON.stringify(editor.getText()));
      }

      function $readSavedJsonForExercise() {
        try {
          return $.cookie("#{title}").replace(/\\n/g, '').replace(/\\"/g, '"').replace(/^"/, '').replace(/"$/, '');
        } catch (e) {
          return {};
        }
      }

