@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Code+Pro');

body {
    font-family: 'Oswald',sans-serif !important;
    font-weight: 100 !important;
    font-size: 150% !important;
}

div.jsoneditor {
    border: 1px solid #a2a2a2 !important;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
    margin: 20px 0px;
}

div.ace_content{
    font-family: 'Source Code Pro', monospace !important;
}

button.jsoneditor-schema-error {
    border: none;
    background-color: transparent;
}

button.jsoneditor-schema-error:after {
    content: '!';
    font-weight: bold;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.jsoneditor-help:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.jsoneditor-help {
    background: none !important;
    width: auto !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.jsoneditor-reset:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
.jsoneditor-reset {
    background: none !important;
    width: auto !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.jsoneditor-text-errors {
    display: none;
}

body {
    padding-top: 70px;
}

pre {
    font-family: 'Source Code Pro', monospace !important;
    white-space: pre-wrap;
    line-height: 1.2 !important;
    height: 100%;
}

.jsonschema-pass > pre {
    background-color: #0f522738;
}

div.jsonschema-fail > pre {
    background-color: #ff000038;
}

div.jsoneditor-menu {
    background-color: #696c71 !important;
    border-bottom: 1px solid #a2a2a2 !important;
}

.ex {
    pointer-events: none;
    cursor: default;
}

#ex-1 {
    pointer-events: auto;
    cursor: auto;
}

#help-text {
    margin-left: 10px;
    margin-right: 10px;
}

#jseditor{
    padding:0px !important;
}